* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}

body {
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    background-color: #80593E;
    color: #8e1f1f;
    padding: 20px;
}

.link-admin {
    text-decoration: none;
    position: absolute;
    right: 0;
    color: #fff;
    padding-right: 20px;
}

.link-admin:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(63, 182, 67);
}

.logo {
    width: 0;
}

.logo img {
    width: 200px;
    margin-left: 30px;
}

header h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #c42828;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(63, 182, 67);
}

.img-carrosel {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.container h2 {
    text-align: center;
    font-size: 50px;
}

.container p {
    text-align: center;
    font-size: 30px;
}

.sobre h2 {
    font-family: "Saira", sans-serif !important;
}

.menu-cardapio-itens {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.menu-cardapio-item {
    border: 1px solid #d72424;
    border-radius: 5px;
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu-cardapio h2 {
    font-family: "Saira", sans-serif !important;;
    text-align: center;
    font-size: 50px;
}

footer {
    background-color: #583e1c;
    color: #d72424;
    text-align: center;
    padding: 5px;
}